**Rough Preprocessing**

In [ ]:
import pandas as pd

df = pd.read_csv('sample.csv', sep=',')
display(df.head(5))
display(df.shape)
NaN = df.isnull().mean()

#dataset ima veliko Nan vrednosti, kar ima vec kot 90%Nan vrzemo stran
relevantni = NaN[NaN < 0.3].index.tolist()

print(f"Obdržali bomo {len(relevantni)} stolpcev od začetnih {len(df.columns)}.")
print("Obdržani stolpci:", relevantni)

zaStran = NaN[NaN >= 0.3].index.tolist()

df = df.drop(columns=zaStran)
display(df.shape)
display(df)

# "lokacijski stolpci" od blackblaze-a, ki jih ne rabimo
lokacijski = df[['datacenter','cluster_id','vault_id','pod_id','pod_slot_num','is_legacy_format']]

# vsi "normalized" so samo interpetacija proizvajalca, ker je vec proizvajalcev so nekonsistentni
def vsiNorm(df):
    normStolpci = []

    for col in df.columns:
        if 'normalized' in col:
            normStolpci.append(col)
    return normStolpci

normStolpci = vsiNorm(df)
df = df.drop(columns=normStolpci)
df = df.drop(columns=lokacijski)
display(df.shape)   #19 dejansko uporabnih stolpcev ..

#df.to_csv('izbolsani_podatki.csv', index=False)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2025-09-29,2206E608DB42,CT250MX500SSD1,250059350016,0,sac0,0,1028,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-09-29,2207E60CC65A,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-09-29,2340E87B92B5,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-09-29,2340E87B97E8,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-09-29,2407E896B6D5,CT250MX500SSD1,250059350016,0,sac0,0,1028,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(329487, 197)

Obdržali bomo 39 stolpcev od začetnih 197.
Obdržani stolpci: ['date', 'serial_number', 'model', 'capacity_bytes', 'failure', 'datacenter', 'cluster_id', 'vault_id', 'pod_id', 'pod_slot_num', 'is_legacy_format', 'smart_1_normalized', 'smart_1_raw', 'smart_3_normalized', 'smart_3_raw', 'smart_4_normalized', 'smart_4_raw', 'smart_5_normalized', 'smart_5_raw', 'smart_7_normalized', 'smart_7_raw', 'smart_9_normalized', 'smart_9_raw', 'smart_10_normalized', 'smart_10_raw', 'smart_12_normalized', 'smart_12_raw', 'smart_192_normalized', 'smart_192_raw', 'smart_193_normalized', 'smart_193_raw', 'smart_194_normalized', 'smart_194_raw', 'smart_197_normalized', 'smart_197_raw', 'smart_198_normalized', 'smart_198_raw', 'smart_199_normalized', 'smart_199_raw']

(329487, 39)

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_193_normalized,smart_193_raw,smart_194_normalized,smart_194_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw
0,2025-09-29,2206E608DB42,CT250MX500SSD1,250059350016,0,sac0,0,1028,4,NaN,...,NaN,NaN,70.0,30.0,100.0,0.0,100.0,0.0,100.0,0.0
1,2025-09-29,2207E60CC65A,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,...,NaN,NaN,65.0,35.0,100.0,0.0,100.0,0.0,100.0,0.0
2,2025-09-29,2340E87B92B5,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,...,NaN,NaN,67.0,33.0,100.0,0.0,100.0,0.0,100.0,0.0
3,2025-09-29,2340E87B97E8,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,...,NaN,NaN,64.0,36.0,100.0,0.0,100.0,0.0,100.0,0.0
4,2025-09-29,2407E896B6D5,CT250MX500SSD1,250059350016,0,sac0,0,1028,8,NaN,...,NaN,NaN,72.0,28.0,100.0,0.0,100.0,0.0,100.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329482,2025-09-29,3ZHG6U1Z,WDC WUH722222ALE6L4,22000969973760,0,yyz1,60,1002,4,48.0,...,100.0,328.0,64.0,32.0,100.0,0.0,100.0,0.0,100.0,0.0
329483,2025-09-29,3ZHG6U9Z,WDC WUH722222ALE6L4,22000969973760,0,yyz1,60,1002,2,24.0,...,100.0,327.0,71.0,26.0,100.0,0.0,100.0,0.0,100.0,0.0
329484,2025-09-29,ZGG6LV5B,WDC WUH722222ALE6L4,22000969973760,0,yyz1,60,1002,11,8.0,...,100.0,327.0,64.0,32.0,100.0,0.0,100.0,0.0,100.0,0.0
329485,2025-09-29,ZGG7J1TA,WDC WUH722222ALE6L4,22000969973760,0,yyz1,60,1002,7,0.0,...,100.0,330.0,67.0,29.0,100.0,0.0,100.0,0.0,100.0,0.0
329486,2025-09-29,ZGG7RGNA,WDC WUH722222ALE6L4,22000969973760,0,yyz1,60,1002,10,46.0,...,100.0,335.0,64.0,32.0,100.0,0.0,100.0,0.0,100.0,0.0

(329487, 19)