**ZDRUZEVANJE VSEH DATOTEK**

- uporabim samo tistih 20 stolpcev ki jih res rabim

In [32]:
import pandas as pd
import glob
import os
import gc

vsiFili = glob.glob(os.path.join('data/', "*.csv"))
seznamDf = []

# Točno ti stolpci so v tvojem predict.ipynb označeni kot pomembni
pomembni_stolpci = [
    'date', 'serial_number', 'model', 'failure',
    'smart_5_raw', 'smart_9_raw', 'smart_187_raw', 'smart_188_raw',
    'smart_193_raw', 'smart_194_raw', 'smart_197_raw', 'smart_198_raw', 'smart_199_raw'
]

print("Začenjam branje datotek...")

for datoteka in vsiFili:
    # NUJNO: Beremo samo izbrane stolpce, da ne pride do MemoryError
    temp_df = pd.read_csv(datoteka, usecols=lambda x: x in pomembni_stolpci)

    # Optimizacija spomina (float64 -> float32)
    for col in temp_df.select_dtypes('float64').columns:
        temp_df[col] = temp_df[col].astype('float32')

    seznamDf.append(temp_df)
    print(f"Datoteka {os.path.basename(datoteka)} je naložena.")

df = pd.concat(seznamDf, ignore_index=True)

# Sprostimo spomin
del seznamDf
gc.collect()

print("Združevanje končano.")
display(df.head())

Začenjam branje datotek...
Datoteka 2025-07-01.csv je naložena.
Datoteka 2025-07-02.csv je naložena.
Datoteka 2025-07-03.csv je naložena.
Datoteka 2025-07-04.csv je naložena.
Datoteka 2025-07-05.csv je naložena.
Datoteka 2025-07-06.csv je naložena.
Datoteka 2025-07-07.csv je naložena.
Datoteka 2025-07-08.csv je naložena.
Datoteka 2025-07-09.csv je naložena.
Datoteka 2025-07-10.csv je naložena.
Datoteka 2025-07-11.csv je naložena.
Datoteka 2025-07-12.csv je naložena.
Datoteka 2025-07-13.csv je naložena.
Datoteka 2025-07-14.csv je naložena.
Datoteka 2025-07-15.csv je naložena.
Datoteka 2025-07-16.csv je naložena.
Datoteka 2025-07-17.csv je naložena.
Datoteka 2025-07-18.csv je naložena.
Datoteka 2025-07-19.csv je naložena.
Datoteka 2025-07-20.csv je naložena.
Datoteka 2025-07-21.csv je naložena.
Datoteka 2025-07-22.csv je naložena.
Datoteka 2025-07-23.csv je naložena.
Datoteka 2025-07-24.csv je naložena.
Datoteka 2025-07-25.csv je naložena.
Datoteka 2025-07-26.csv je naložena.
Datoteka 2025-07-27.csv je naložena.
Datoteka 2025-07-28.csv je naložena.
Datoteka 2025-07-29.csv je naložena.
Datoteka 2025-07-30.csv je naložena.
Datoteka 2025-07-31.csv je naložena.
Datoteka 2025-08-01.csv je naložena.
Datoteka 2025-08-02.csv je naložena.
Datoteka 2025-08-03.csv je naložena.
Datoteka 2025-08-04.csv je naložena.
Datoteka 2025-08-05.csv je naložena.
Datoteka 2025-08-06.csv je naložena.
Datoteka 2025-08-07.csv je naložena.
Datoteka 2025-08-08.csv je naložena.
Datoteka 2025-08-09.csv je naložena.
Datoteka 2025-08-10.csv je naložena.
Datoteka 2025-08-11.csv je naložena.
Datoteka 2025-08-12.csv je naložena.
Datoteka 2025-08-13.csv je naložena.
Datoteka 2025-08-14.csv je naložena.
Datoteka 2025-08-15.csv je naložena.
Datoteka 2025-08-16.csv je naložena.
Datoteka 2025-08-17.csv je naložena.
Datoteka 2025-08-18.csv je naložena.
Datoteka 2025-08-19.csv je naložena.
Datoteka 2025-08-20.csv je naložena.
Datoteka 2025-08-21.csv je naložena.
Datoteka 2025-08-22.csv je naložena.
Datoteka 2025-08-23.csv je naložena.
Datoteka 2025-08-24.csv je naložena.
Datoteka 2025-08-25.csv je naložena.
Datoteka 2025-08-26.csv je naložena.
Datoteka 2025-08-27.csv je naložena.
Datoteka 2025-08-28.csv je naložena.
Datoteka 2025-08-29.csv je naložena.
Datoteka 2025-08-30.csv je naložena.
Datoteka 2025-08-31.csv je naložena.
Datoteka 2025-09-01.csv je naložena.
Datoteka 2025-09-02.csv je naložena.
Datoteka 2025-09-03.csv je naložena.
Datoteka 2025-09-04.csv je naložena.
Datoteka 2025-09-05.csv je naložena.
Datoteka 2025-09-06.csv je naložena.
Datoteka 2025-09-07.csv je naložena.
Datoteka 2025-09-08.csv je naložena.
Datoteka 2025-09-09.csv je naložena.
Datoteka 2025-09-10.csv je naložena.
Datoteka 2025-09-11.csv je naložena.
Datoteka 2025-09-12.csv je naložena.
Datoteka 2025-09-13.csv je naložena.
Datoteka 2025-09-14.csv je naložena.
Datoteka 2025-09-15.csv je naložena.
Datoteka 2025-09-16.csv je naložena.
Datoteka 2025-09-17.csv je naložena.
Datoteka 2025-09-18.csv je naložena.
Datoteka 2025-09-19.csv je naložena.
Datoteka 2025-09-20.csv je naložena.
Datoteka 2025-09-21.csv je naložena.
Datoteka 2025-09-22.csv je naložena.
Datoteka 2025-09-23.csv je naložena.
Datoteka 2025-09-24.csv je naložena.
Datoteka 2025-09-25.csv je naložena.
Datoteka 2025-09-26.csv je naložena.
Datoteka 2025-09-27.csv je naložena.
Datoteka 2025-09-28.csv je naložena.
Datoteka 2025-09-29.csv je naložena.
Datoteka 2025-09-30.csv je naložena.
Združevanje končano.

,date,serial_number,model,failure,smart_5_raw,smart_9_raw,smart_187_raw,smart_188_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw
0,2025-07-01,2207E60CC65A,CT250MX500SSD1,0,0.0,21151.0,0.0,NaN,NaN,26.0,0.0,0.0,0.0
1,2025-07-01,2340E87B92B5,CT250MX500SSD1,0,0.0,7720.0,0.0,NaN,NaN,35.0,0.0,0.0,0.0
2,2025-07-01,2340E87B97E8,CT250MX500SSD1,0,0.0,2836.0,0.0,NaN,NaN,24.0,0.0,0.0,0.0
3,2025-07-01,2EGK64VX,HGST HUH728080ALE604,0,0.0,36884.0,NaN,NaN,4530.0,18.0,0.0,0.0,0.0
4,2025-07-01,2EHZAKAX,HGST HUH728080ALE604,0,0.0,75481.0,NaN,NaN,2989.0,25.0,0.0,0.0,0.0

! podatkov v seznamu seznamDf je cedalje vec, zato pride do memoryError-ja... treba je resetirati spremenljivko cisto na zacetku programa

In [31]:
import gc
import pandas as pd

# Izbrišemo velike objekte, če obstajajo
if 'df' in locals():
    del df
if 'seznamDf' in locals():
    del seznamDf

# Ročno sprožimo "Garbage Collector", da sprosti RAM
gc.collect()

# Ponovno inicializiramo prazen seznam za nov krog
seznamDf = []

**Rough Preprocessing** - isto kot prej

In [35]:
display(df.head(5))
display(df.shape)

NaN = df.isnull().mean()

nujni_stolpci = [
    'smart_5_raw', 'smart_187_raw', 'smart_188_raw',
    'smart_197_raw', 'smart_198_raw', 'smart_9_raw',
    'smart_194_raw', 'capacity_bytes', 'model', 'failure'
]

#obdrži stolpec, če ima < 30% NaN ALI če je na seznamu nujnih
relevantni = NaN[(NaN < 0.3) | (NaN.index.isin(nujni_stolpci))].index.tolist()

print(f"Obdržali bomo {len(relevantni)} stolpcev.")

zaStran = [col for col in df.columns if col not in relevantni]
df = df.drop(columns=zaStran)

display(df.shape)
display(df)

# "lokacijski stolpci" od blackblaze fizicnih serverjev, ki jih ne rabimo
lokacijski = df[['datacenter','cluster_id','vault_id','pod_id','pod_slot_num','is_legacy_format']]

#ostali nepomembni
nepomembniOstalo = df[['date','serial_number']]

# vsi "normalized" so samo interpetacija proizvajalca, ker je vec proizvajalcev so nekonsistentni
def vsiNorm(df):
    normStolpci = []

    for col in df.columns:
        if 'normalized' in col:
            normStolpci.append(col)
    return normStolpci

normStolpci = vsiNorm(df)
df = df.drop(columns=normStolpci)
df = df.drop(columns=lokacijski)
df = df.drop(columns=nepomembniOstalo)
display(df.shape)   #19 dejansko uporabnih stolpcev ..
display(df.columns)

,model,failure,smart_5_raw,smart_9_raw,smart_187_raw,smart_188_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw
0,CT250MX500SSD1,0,0.0,21151.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0
1,CT250MX500SSD1,0,0.0,7720.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0
2,CT250MX500SSD1,0,0.0,2836.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
3,HGST HUH728080ALE604,0,0.0,36884.0,0.0,0.0,4530.0,18.0,0.0,0.0,0.0
4,HGST HUH728080ALE604,0,0.0,75481.0,0.0,0.0,2989.0,25.0,0.0,0.0,0.0

(29844451, 11)

Obdržali bomo 11 stolpcev.

(29844451, 11)

,model,failure,smart_5_raw,smart_9_raw,smart_187_raw,smart_188_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw
0,CT250MX500SSD1,0,0.0,21151.0,0.0,0.0,0.0,26.0,0.0,0.0,0.0
1,CT250MX500SSD1,0,0.0,7720.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0
2,CT250MX500SSD1,0,0.0,2836.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
3,HGST HUH728080ALE604,0,0.0,36884.0,0.0,0.0,4530.0,18.0,0.0,0.0,0.0
4,HGST HUH728080ALE604,0,0.0,75481.0,0.0,0.0,2989.0,25.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
29844446,WDC WUH722222ALE6L4,0,0.0,7721.0,0.0,0.0,330.0,32.0,0.0,0.0,0.0
29844447,WDC WUH722222ALE6L4,0,0.0,7707.0,0.0,0.0,328.0,26.0,0.0,0.0,0.0
29844448,WDC WUH722222ALE6L4,0,0.0,7717.0,0.0,0.0,328.0,31.0,0.0,0.0,0.0
29844449,WDC WUH722222ALE6L4,0,0.0,7715.0,0.0,0.0,331.0,28.0,0.0,0.0,0.0
29844450,WDC WUH722222ALE6L4,0,0.0,7712.0,0.0,0.0,335.0,32.0,0.0,0.0,0.0

KeyError: "None of [Index(['datacenter', 'cluster_id', 'vault_id', 'pod_id', 'pod_slot_num',\n       'is_legacy_format'],\n      dtype='object')] are in the [columns]"

**Vrste diskov**

In [15]:
unikatneVrsteDiskov = df['model'].unique()
print("vrste diskov: ", unikatneVrsteDiskov)

ssd_keywords = ['SSD', 'MTFD', 'SSDSC', '850 PRO', '870 EVO', '860 PRO', '5300']
df['jeSSD'] = df['model'].apply(lambda x: 1 if any(k in str(x).upper() for k in ssd_keywords) else 0)

def getModel(model):
    m = str(model).upper()
    if m.startswith('ST') or 'SEAGATE' in m: return 'Seagate'
    if m.startswith('WDC') or m.startswith('WD') or 'WESTERN' in m: return 'Western Digital'
    if m.startswith('HGST') or m.startswith('HUH') or m.startswith('HMS'): return 'HGST'
    if m.startswith('TOSHIBA') or m.startswith('MG'): return 'Toshiba'
    if m.startswith('SAMSUNG'): return 'Samsung'
    if m.startswith('CT') or 'CRUCIAL' in m: return 'Crucial'
    return 'Other'

df['model'] = df['model'].apply(getModel)

display(df)
ostali = df[df['model'] == 'Other']['model'].unique()
print("nekategorizirani modeli: ", ostali)
modeli = df['model'].unique()
display("kategorizirani modeli: ", modeli)

vrste diskov:  ['Crucial' 'HGST' 'Seagate' 'Toshiba' 'Western Digital' 'Other' 'Samsung']

,model,capacity_bytes,failure,smart_1_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_9_raw,smart_10_raw,smart_12_raw,smart_187_raw,smart_188_raw,smart_192_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw,jeSSD
0,Crucial,250059350016,0,0.0,NaN,NaN,0.0,NaN,267.0,NaN,15.0,0.0,NaN,NaN,NaN,30.0,0.0,0.0,0.0,0
1,Crucial,250059350016,0,0.0,NaN,NaN,0.0,NaN,23328.0,NaN,3.0,0.0,NaN,NaN,NaN,35.0,0.0,0.0,0.0,0
2,Crucial,250059350016,0,0.0,NaN,NaN,0.0,NaN,9876.0,NaN,6.0,0.0,NaN,NaN,NaN,33.0,0.0,0.0,0.0,0
3,Crucial,250059350016,0,0.0,NaN,NaN,0.0,NaN,4994.0,NaN,2.0,0.0,NaN,NaN,NaN,36.0,0.0,0.0,0.0,0
4,Crucial,250059350016,0,0.0,NaN,NaN,0.0,NaN,1137.0,NaN,13.0,0.0,NaN,NaN,NaN,28.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329482,Western Digital,22000969973760,0,0.0,275.0,9.0,0.0,0.0,7691.0,0.0,9.0,NaN,NaN,328.0,328.0,32.0,0.0,0.0,0.0,0
329483,Western Digital,22000969973760,0,0.0,240.0,9.0,0.0,0.0,7691.0,0.0,9.0,NaN,NaN,327.0,327.0,26.0,0.0,0.0,0.0,0
329484,Western Digital,22000969973760,0,0.0,267.0,9.0,0.0,0.0,7686.0,0.0,9.0,NaN,NaN,327.0,327.0,32.0,0.0,0.0,0.0,0
329485,Western Digital,22000969973760,0,0.0,337.0,10.0,0.0,0.0,7700.0,0.0,10.0,NaN,NaN,330.0,330.0,29.0,0.0,0.0,0.0,0
329486,Western Digital,22000969973760,0,0.0,360.0,12.0,0.0,0.0,7697.0,0.0,12.0,NaN,NaN,335.0,335.0,32.0,0.0,0.0,0.0,0

nekategorizirani modeli:  ['Other']

'kategorizirani modeli: '

array(['Crucial', 'HGST', 'Seagate', 'Toshiba', 'Western Digital',
       'Other', 'Samsung'], dtype=object)

**Temeljit Preprocessing**

POMEMBNO - Zapolni NaN v teh nujnih stolpcih z 0
Ker XGBoost ne mara popolnih praznin, manjše število NaN pa zna rešiti,

In [17]:
unikatneVrsteDiskov = df['model'].unique()
print("vrste diskov: ", unikatneVrsteDiskov)

ssd_keywords = ['SSD', 'MTFD', 'SSDSC', '850 PRO', '870 EVO', '860 PRO', '5300']
df['jeSSD'] = df['model'].apply(lambda x: 1 if any(k in str(x).upper() for k in ssd_keywords) else 0)

def getModel(model):
    m = str(model).upper()
    if m.startswith('ST') or 'SEAGATE' in m: return 'Seagate'
    if m.startswith('WDC') or m.startswith('WD') or 'WESTERN' in m: return 'Western Digital'
    if m.startswith('HGST') or m.startswith('HUH') or m.startswith('HMS'): return 'HGST'
    if m.startswith('TOSHIBA') or m.startswith('MG'): return 'Toshiba'
    if m.startswith('SAMSUNG'): return 'Samsung'
    if m.startswith('CT') or 'CRUCIAL' in m: return 'Crucial'
    return 'Other'

df = df.rename(columns={"capacity_bytes":"capacity_gigabytes"})
df['capacity_gigabytes'] = (df['capacity_gigabytes'] / (1024 ** 3)).round(2)

df['model'] = df['model'].apply(getModel)

display(df)
ostali = df[df['model'] == 'Other']['model'].unique()
print("nekategorizirani modeli: ", ostali)
modeli = df['model'].unique()
display("kategorizirani modeli: ", modeli)

display(df.head())

df.to_csv('izbolsani_podatki_vsi.csv', index=False)

odpovedi = df.loc[df['failure'] == 1]
display(odpovedi)

vrste diskov:  ['Crucial' 'HGST' 'Seagate' 'Toshiba' 'Western Digital' 'Other' 'Samsung']

,model,capacity_gigabytes,failure,smart_1_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_9_raw,smart_10_raw,smart_12_raw,smart_187_raw,smart_188_raw,smart_192_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw,jeSSD
0,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,267.0,NaN,15.0,0.0,NaN,NaN,NaN,30.0,0.0,0.0,0.0,0
1,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,23328.0,NaN,3.0,0.0,NaN,NaN,NaN,35.0,0.0,0.0,0.0,0
2,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,9876.0,NaN,6.0,0.0,NaN,NaN,NaN,33.0,0.0,0.0,0.0,0
3,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,4994.0,NaN,2.0,0.0,NaN,NaN,NaN,36.0,0.0,0.0,0.0,0
4,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,1137.0,NaN,13.0,0.0,NaN,NaN,NaN,28.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329482,Western Digital,20490.00,0,0.0,275.0,9.0,0.0,0.0,7691.0,0.0,9.0,NaN,NaN,328.0,328.0,32.0,0.0,0.0,0.0,0
329483,Western Digital,20490.00,0,0.0,240.0,9.0,0.0,0.0,7691.0,0.0,9.0,NaN,NaN,327.0,327.0,26.0,0.0,0.0,0.0,0
329484,Western Digital,20490.00,0,0.0,267.0,9.0,0.0,0.0,7686.0,0.0,9.0,NaN,NaN,327.0,327.0,32.0,0.0,0.0,0.0,0
329485,Western Digital,20490.00,0,0.0,337.0,10.0,0.0,0.0,7700.0,0.0,10.0,NaN,NaN,330.0,330.0,29.0,0.0,0.0,0.0,0
329486,Western Digital,20490.00,0,0.0,360.0,12.0,0.0,0.0,7697.0,0.0,12.0,NaN,NaN,335.0,335.0,32.0,0.0,0.0,0.0,0

nekategorizirani modeli:  ['Other']

'kategorizirani modeli: '

array(['Crucial', 'HGST', 'Seagate', 'Toshiba', 'Western Digital',
       'Other', 'Samsung'], dtype=object)

,model,capacity_gigabytes,failure,smart_1_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_9_raw,smart_10_raw,smart_12_raw,smart_187_raw,smart_188_raw,smart_192_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw,jeSSD
0,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,267.0,NaN,15.0,0.0,NaN,NaN,NaN,30.0,0.0,0.0,0.0,0
1,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,23328.0,NaN,3.0,0.0,NaN,NaN,NaN,35.0,0.0,0.0,0.0,0
2,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,9876.0,NaN,6.0,0.0,NaN,NaN,NaN,33.0,0.0,0.0,0.0,0
3,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,4994.0,NaN,2.0,0.0,NaN,NaN,NaN,36.0,0.0,0.0,0.0,0
4,Crucial,232.89,0,0.0,NaN,NaN,0.0,NaN,1137.0,NaN,13.0,0.0,NaN,NaN,NaN,28.0,0.0,0.0,0.0,0

,model,capacity_gigabytes,failure,smart_1_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_9_raw,smart_10_raw,smart_12_raw,smart_187_raw,smart_188_raw,smart_192_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw,jeSSD
24793,HGST,11176.0,1,0.0,403.0,20.0,0.0,0.0,41083.0,0.0,14.0,NaN,NaN,1792.0,1792.0,28.0,91.0,94.0,0.0,0
24823,HGST,11176.0,1,0.0,401.0,18.0,76.0,0.0,41090.0,0.0,14.0,NaN,NaN,1835.0,1835.0,28.0,352.0,360.0,0.0,0
98004,HGST,11176.0,1,0.0,52.0,279.0,0.0,0.0,57872.0,0.0,279.0,NaN,NaN,2813.0,2813.0,26.0,0.0,0.0,0.0,0
102179,HGST,11176.0,1,3014678.0,404.0,30.0,16.0,0.0,55911.0,0.0,30.0,NaN,NaN,2108.0,2108.0,42.0,178.0,64.0,0.0,0
102249,HGST,11176.0,1,4587589.0,407.0,18.0,507.0,0.0,55898.0,0.0,14.0,NaN,NaN,3284.0,3284.0,33.0,453.0,817.0,0.0,0
241207,Toshiba,14902.0,1,0.0,8270.0,15.0,7.0,0.0,34152.0,0.0,15.0,NaN,NaN,14.0,247.0,45.0,0.0,0.0,0.0,0
288562,Western Digital,14902.0,1,0.0,353.0,22.0,0.0,0.0,19917.0,0.0,22.0,NaN,NaN,1060.0,1060.0,37.0,0.0,0.0,0.0,0
311063,Seagate,22352.0,1,86146472.0,0.0,21.0,0.0,532733945.0,5763.0,0.0,21.0,0.0,0.0,17.0,275.0,31.0,0.0,0.0,0.0,0

uporabimo Feature Stacking... zdruzimo metode strojnega ucenja v tem vrstnem redu:

1. grucenje
2. regresijo
3. klasifikacijo